# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Prisma
apps/server/prisma/*.db
apps/server/prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Test / coverage
coverage/

# Vite
apps/client/.vite/
